.git
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!bootstrap/cache/.gitkeep
*.md
.editorconfig
.gitignore
.gitattributes
phpunit.xml
tests/
railway.json
railway-init.sh
